.bar {
  padding: 0 3px;
}

.bar__column {
  background: #ffc000;
  transition: all;
  transition-duration: 300ms;
  height: 0;
  opacity: 0;
}

.bar__desc {
  margin-top: 4px;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  height: 100px;
}

.bar__desc--secondary {
  margin-top: 3px;
  font-size: 11px;
  color: rgba(0,0,0,.54);
}
